<dom-module id="my-data-model">
  
  <template>
    <input type="text" value="{{text::input}}">
    <button on-tap="changeData">change Data</button>
    {{glBindName}}
  </template>
  
  <script>
    Polymer({
      is:'my-data-model',
      properties:{
        text:{
            type:String,
            value:'dd'
        }
      },
      ready:function(){
        this.glBind('my-bind');
      },
      observers:['glBindOb(text.*)'],
      behaviors: [
        gl.behavior.core
      ],
      changeData:function(){
          this.text="NK DATA";
      }
    });
  </script>
</dom-module>
